<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    包含关系配置文件
        加载文件列表
    -->

    <!--    target/classes/howToCreatObject/Bean01/spr-goods.xml-->
    <!--    <import resource="spr-goods.xml"/>-->
    <!--    <import resource="spr-user.xml"/>-->

    <!--
        通配符筛选文件
            注意死循环
    -->
    <import resource="spr-*.xml"/>
    <!-- import resource="classpath:howToCreatObject/Bean01/spr-goods.xml"/>-->


</beans>
        <!--
           spring的配置文件
           1.beans : 是根标签，spring把java对象成为bean。
           2.spring-beans.xsd 是约束文件，和mybatis指定  dtd是一样的。
        -->