<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--settings：控制mybatis全局行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--设置别名 类名及别名 不需要写 全限定名称-->
    <typeAliases>
        <package name="com.eliza.sprioc.spribatis.domain"/>
        <package name="com.eliza.sprioc.spribatis.dao"/>
    </typeAliases>


    <!-- sql mapper(sql映射文件)的位置-->
    <mappers>
        <mapper resource="mybatis/UserDao.xml"/>
        <!--     不在同一包下   <package name=""/>-->
    </mappers>
</configuration>
